.intro {
	top:0;
	text-align:center;
}

body {background-color: ghostwhite;}

.rectangulo {
	position:absolute;
	width:100%;
	height:150px;
	background: gainsboro;
	top:0;
	left:0;
}

.imgtree {
	float: right;
	margin:10px;
}

.tree {
        position:relative;
	text-align:center;
	top:150px;
	bottom:25px;
	margin: 0 150px 100px 150px;
}

.menu {
	position:absolute;
	display:inline-block;
	z-index:1;

}

.menu2 {
position:relative;
top:0;
left:0;
cursor:pointer;
}

.deepmenu {
	display:none;
}

.deepmenu a {
	display:block;
	color: black;
        cursor: pointer;
	background-color: silver;
	margin: 0 0px;
	padding: 16px;
	width: 75px;
	height: 16px;
	font-size: 14px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	text-decoration:none;
}

.put {
	display:block;
}

.finish {
	position: relative;
	height:100%;
	margin-top:150px;
	background-color: grey;
	padding:10px;
}

.finish p {margin: 0px;}

.finish a {
	text-decoration:none;
	color:black;
}

.finish a:hover {color:white}
